/*
  @see: https://material.io/resources/color
  Translated from HEX values in colors.css, using utils/colorConverterHex2HSL.mjs
*/

:root {
  --color-grey-50: hsl(0, 0%, 98%);
  --color-grey-100: hsl(0, 0%, 96%);
  --color-grey-200: hsl(0, 0%, 93%);
  --color-grey-300: hsl(0, 0%, 88%);
  --color-grey-400: hsl(0, 0%, 74%);
  --color-grey-500: hsl(0, 0%, 62%);
  --color-grey-600: hsl(0, 0%, 46%);
  --color-grey-700: hsl(0, 0%, 38%);
  --color-grey-800: hsl(0, 0%, 26%);
  --color-grey-900: hsl(0, 0%, 13%);
  --color-grey-A100: hsl(0, 0%, 84%);
  --color-grey-A200: hsl(0, 0%, 67%);
  --color-grey-A400: hsl(0, 0%, 19%);
  --color-grey-A700: hsl(0, 0%, 38%);

  --color-blueGrey: hsl(222, 84%, 98%);
  --color-blueGrey-50: hsl(204, 15%, 94%);
  --color-blueGrey-100: hsl(198, 16%, 84%);
  --color-blueGrey-200: hsl(200, 15%, 73%);
  --color-blueGrey-300: hsl(200, 16%, 62%);
  --color-blueGrey-400: hsl(200, 15%, 54%);
  --color-blueGrey-500: hsl(200, 18%, 46%);
  --color-blueGrey-600: hsl(199, 18%, 40%);
  --color-blueGrey-700: hsl(199, 18%, 33%);
  --color-blueGrey-800: hsl(200, 18%, 26%);
  --color-blueGrey-900: hsl(200, 19%, 18%);
  --color-blueGrey-A100: hsl(198, 16%, 84%);
  --color-blueGrey-A200: hsl(200, 15%, 73%);
  --color-blueGrey-A400: hsl(200, 15%, 54%);
  --color-blueGrey-A700: hsl(199, 18%, 33%);

  --color-brown-50: hsl(20, 16%, 93%);
  --color-brown-100: hsl(16, 16%, 81%);
  --color-brown-200: hsl(15, 15%, 69%);
  --color-brown-300: hsl(16, 15%, 56%);
  --color-brown-400: hsl(16, 18%, 47%);
  --color-brown-500: hsl(16, 25%, 38%);
  --color-brown-600: hsl(15, 25%, 34%);
  --color-brown-700: hsl(14, 26%, 29%);
  --color-brown-800: hsl(11, 26%, 24%);
  --color-brown-900: hsl(9, 28%, 19%);
  --color-brown-A100: hsl(16, 16%, 81%);
  --color-brown-A200: hsl(15, 15%, 69%);
  --color-brown-A400: hsl(16, 18%, 47%);
  --color-brown-A700: hsl(14, 26%, 29%);

  --color-purple-50: hsl(292, 44%, 93%);
  --color-purple-100: hsl(291, 46%, 83%);
  --color-purple-200: hsl(291, 47%, 71%);
  --color-purple-300: hsl(291, 47%, 60%);
  --color-purple-400: hsl(291, 47%, 51%);
  --color-purple-500: hsl(291, 64%, 42%);
  --color-purple-600: hsl(287, 65%, 40%);
  --color-purple-700: hsl(282, 68%, 38%);
  --color-purple-800: hsl(277, 70%, 35%);
  --color-purple-900: hsl(267, 75%, 31%);
  --color-purple-A100: hsl(291, 95%, 75%);
  --color-purple-A200: hsl(291, 96%, 62%);
  --color-purple-A400: hsl(291, 100%, 49%);
  --color-purple-A700: hsl(280, 100%, 50%);

  --color-deepPurple-50: hsl(264, 45%, 94%);
  --color-deepPurple-100: hsl(261, 46%, 84%);
  --color-deepPurple-200: hsl(261, 46%, 74%);
  --color-deepPurple-300: hsl(262, 47%, 63%);
  --color-deepPurple-400: hsl(262, 47%, 55%);
  --color-deepPurple-500: hsl(262, 52%, 47%);
  --color-deepPurple-600: hsl(260, 54%, 45%);
  --color-deepPurple-700: hsl(258, 58%, 42%);
  --color-deepPurple-800: hsl(255, 61%, 39%);
  --color-deepPurple-900: hsl(251, 69%, 34%);
  --color-deepPurple-A100: hsl(262, 100%, 77%);
  --color-deepPurple-A200: hsl(256, 100%, 65%);
  --color-deepPurple-A400: hsl(259, 100%, 56%);
  --color-deepPurple-A700: hsl(265, 100%, 46%);

  --color-indigo-50: hsl(231, 44%, 94%);
  --color-indigo-100: hsl(232, 45%, 84%);
  --color-indigo-200: hsl(231, 44%, 74%);
  --color-indigo-300: hsl(230, 44%, 64%);
  --color-indigo-400: hsl(231, 44%, 56%);
  --color-indigo-500: hsl(231, 48%, 48%);
  --color-indigo-600: hsl(232, 50%, 45%);
  --color-indigo-700: hsl(232, 54%, 41%);
  --color-indigo-800: hsl(233, 57%, 37%);
  --color-indigo-900: hsl(235, 66%, 30%);
  --color-indigo-A100: hsl(231, 100%, 77%);
  --color-indigo-A200: hsl(231, 99%, 66%);
  --color-indigo-A400: hsl(231, 99%, 62%);
  --color-indigo-A700: hsl(231, 99%, 59%);

  --color-blue-50: hsl(205, 87%, 94%);
  --color-blue-100: hsl(207, 89%, 86%);
  --color-blue-200: hsl(207, 90%, 77%);
  --color-blue-300: hsl(207, 89%, 68%);
  --color-blue-400: hsl(207, 90%, 61%);
  --color-blue-500: hsl(207, 90%, 54%);
  --color-blue-600: hsl(208, 79%, 51%);
  --color-blue-700: hsl(210, 79%, 46%);
  --color-blue-800: hsl(212, 80%, 42%);
  --color-blue-900: hsl(216, 85%, 34%);
  --color-blue-A100: hsl(217, 100%, 75%);
  --color-blue-A200: hsl(218, 100%, 63%);
  --color-blue-A400: hsl(218, 100%, 58%);
  --color-blue-A700: hsl(224, 100%, 58%);

  --color-lightBlue-50: hsl(199, 94%, 94%);
  --color-lightBlue-100: hsl(199, 92%, 85%);
  --color-lightBlue-200: hsl(199, 92%, 74%);
  --color-lightBlue-300: hsl(199, 91%, 64%);
  --color-lightBlue-400: hsl(199, 92%, 56%);
  --color-lightBlue-500: hsl(199, 98%, 48%);
  --color-lightBlue-600: hsl(200, 97%, 45%);
  --color-lightBlue-700: hsl(201, 98%, 41%);
  --color-lightBlue-800: hsl(202, 98%, 37%);
  --color-lightBlue-900: hsl(206, 99%, 31%);
  --color-lightBlue-A100: hsl(198, 100%, 75%);
  --color-lightBlue-A200: hsl(199, 100%, 63%);
  --color-lightBlue-A400: hsl(199, 100%, 50%);
  --color-lightBlue-A700: hsl(203, 100%, 46%);

  --color-cyan-50: hsl(187, 72%, 93%);
  --color-cyan-100: hsl(187, 71%, 82%);
  --color-cyan-200: hsl(187, 72%, 71%);
  --color-cyan-300: hsl(187, 71%, 59%);
  --color-cyan-400: hsl(187, 71%, 50%);
  --color-cyan-500: hsl(187, 100%, 42%);
  --color-cyan-600: hsl(187, 100%, 38%);
  --color-cyan-700: hsl(186, 100%, 33%);
  --color-cyan-800: hsl(185, 100%, 28%);
  --color-cyan-900: hsl(182, 100%, 20%);
  --color-cyan-A100: hsl(180, 100%, 76%);
  --color-cyan-A200: hsl(180, 100%, 55%);
  --color-cyan-A400: hsl(186, 100%, 50%);
  --color-cyan-A700: hsl(188, 100%, 42%);

  --color-teal-50: hsl(177, 41%, 91%);
  --color-teal-100: hsl(175, 41%, 79%);
  --color-teal-200: hsl(174, 42%, 65%);
  --color-teal-300: hsl(174, 42%, 51%);
  --color-teal-400: hsl(174, 63%, 40%);
  --color-teal-500: hsl(174, 100%, 29%);
  --color-teal-600: hsl(174, 100%, 27%);
  --color-teal-700: hsl(173, 100%, 24%);
  --color-teal-800: hsl(173, 100%, 21%);
  --color-teal-900: hsl(170, 100%, 15%);
  --color-teal-A100: hsl(166, 100%, 83%);
  --color-teal-A200: hsl(166, 100%, 70%);
  --color-teal-A400: hsl(165, 82%, 51%);
  --color-teal-A700: hsl(172, 100%, 37%);

  --color-green-50: hsl(125, 39%, 94%);
  --color-green-100: hsl(122, 37%, 84%);
  --color-green-200: hsl(122, 37%, 74%);
  --color-green-300: hsl(123, 38%, 64%);
  --color-green-400: hsl(123, 38%, 57%);
  --color-green-500: hsl(122, 39%, 49%);
  --color-green-600: hsl(123, 41%, 45%);
  --color-green-700: hsl(123, 43%, 39%);
  --color-green-800: hsl(123, 46%, 34%);
  --color-green-900: hsl(124, 55%, 24%);
  --color-green-A100: hsl(137, 77%, 85%);
  --color-green-A200: hsl(151, 82%, 68%);
  --color-green-A400: hsl(151, 100%, 45%);
  --color-green-A700: hsl(145, 100%, 39%);

  --color-lightGreen-50: hsl(88, 52%, 94%);
  --color-lightGreen-100: hsl(88, 51%, 86%);
  --color-lightGreen-200: hsl(88, 50%, 76%);
  --color-lightGreen-300: hsl(88, 50%, 67%);
  --color-lightGreen-400: hsl(88, 50%, 60%);
  --color-lightGreen-500: hsl(88, 50%, 53%);
  --color-lightGreen-600: hsl(89, 46%, 48%);
  --color-lightGreen-700: hsl(92, 48%, 42%);
  --color-lightGreen-800: hsl(95, 49%, 36%);
  --color-lightGreen-900: hsl(103, 56%, 26%);
  --color-lightGreen-A100: hsl(88, 100%, 78%);
  --color-lightGreen-A200: hsl(88, 100%, 67%);
  --color-lightGreen-A400: hsl(93, 100%, 51%);
  --color-lightGreen-A700: hsl(97, 81%, 48%);

  --color-lime-50: hsl(66, 71%, 95%);
  --color-lime-100: hsl(65, 69%, 86%);
  --color-lime-200: hsl(66, 71%, 77%);
  --color-lime-300: hsl(66, 70%, 68%);
  --color-lime-400: hsl(66, 70%, 61%);
  --color-lime-500: hsl(66, 70%, 54%);
  --color-lime-600: hsl(64, 60%, 50%);
  --color-lime-700: hsl(62, 61%, 44%);
  --color-lime-800: hsl(60, 63%, 38%);
  --color-lime-900: hsl(54, 70%, 30%);
  --color-lime-A100: hsl(65, 100%, 75%);
  --color-lime-A200: hsl(65, 100%, 63%);
  --color-lime-A400: hsl(73, 100%, 50%);
  --color-lime-A700: hsl(75, 100%, 46%);

  --color-pink-50: hsl(340, 80%, 94%);
  --color-pink-100: hsl(339, 81%, 85%);
  --color-pink-200: hsl(340, 82%, 76%);
  --color-pink-300: hsl(340, 83%, 66%);
  --color-pink-400: hsl(340, 82%, 59%);
  --color-pink-500: hsl(340, 82%, 52%);
  --color-pink-600: hsl(338, 78%, 48%);
  --color-pink-700: hsl(336, 78%, 43%);
  --color-pink-800: hsl(334, 79%, 38%);
  --color-pink-900: hsl(328, 81%, 29%);
  --color-pink-A100: hsl(340, 100%, 75%);
  --color-pink-A200: hsl(340, 100%, 63%);
  --color-pink-A400: hsl(339, 100%, 48%);
  --color-pink-A700: hsl(333, 84%, 42%);

  --color-red-50: hsl(351, 100%, 96%);
  --color-red-100: hsl(354, 100%, 90%);
  --color-red-200: hsl(0, 73%, 77%);
  --color-red-300: hsl(0, 69%, 67%);
  --color-red-400: hsl(1, 83%, 63%);
  --color-red-500: hsl(4, 90%, 58%);
  --color-red-600: hsl(1, 77%, 55%);
  --color-red-700: hsl(0, 65%, 51%);
  --color-red-800: hsl(0, 66%, 47%);
  --color-red-900: hsl(0, 73%, 41%);
  --color-red-A100: hsl(5, 100%, 75%);
  --color-red-A200: hsl(0, 100%, 66%);
  --color-red-A400: hsl(348, 100%, 55%);
  --color-red-A700: hsl(0, 100%, 42%);

  --color-deepOrange-50: hsl(6, 71%, 95%);
  --color-deepOrange-100: hsl(14, 100%, 87%);
  --color-deepOrange-200: hsl(14, 100%, 78%);
  --color-deepOrange-300: hsl(14, 100%, 70%);
  --color-deepOrange-400: hsl(14, 100%, 63%);
  --color-deepOrange-500: hsl(14, 100%, 57%);
  --color-deepOrange-600: hsl(14, 91%, 54%);
  --color-deepOrange-700: hsl(14, 80%, 50%);
  --color-deepOrange-800: hsl(14, 82%, 46%);
  --color-deepOrange-900: hsl(14, 88%, 40%);
  --color-deepOrange-A100: hsl(14, 100%, 75%);
  --color-deepOrange-A200: hsl(14, 100%, 63%);
  --color-deepOrange-A400: hsl(14, 100%, 50%);
  --color-deepOrange-A700: hsl(12, 100%, 43%);

  --color-orange-50: hsl(37, 100%, 94%);
  --color-orange-100: hsl(36, 100%, 85%);
  --color-orange-200: hsl(36, 100%, 75%);
  --color-orange-300: hsl(36, 100%, 65%);
  --color-orange-400: hsl(36, 100%, 57%);
  --color-orange-500: hsl(36, 100%, 50%);
  --color-orange-600: hsl(33, 100%, 49%);
  --color-orange-700: hsl(30, 100%, 48%);
  --color-orange-800: hsl(27, 100%, 47%);
  --color-orange-900: hsl(21, 100%, 45%);
  --color-orange-A100: hsl(38, 100%, 75%);
  --color-orange-A200: hsl(34, 100%, 63%);
  --color-orange-A400: hsl(34, 100%, 50%);
  --color-orange-A700: hsl(26, 100%, 50%);

  --color-amber-50: hsl(46, 100%, 94%);
  --color-amber-100: hsl(45, 100%, 85%);
  --color-amber-200: hsl(45, 100%, 75%);
  --color-amber-300: hsl(46, 100%, 65%);
  --color-amber-400: hsl(45, 100%, 58%);
  --color-amber-500: hsl(45, 100%, 51%);
  --color-amber-600: hsl(42, 100%, 50%);
  --color-amber-700: hsl(38, 100%, 50%);
  --color-amber-800: hsl(34, 100%, 50%);
  --color-amber-900: hsl(26, 100%, 50%);
  --color-amber-A100: hsl(48, 100%, 75%);
  --color-amber-A200: hsl(47, 100%, 63%);
  --color-amber-A400: hsl(46, 100%, 50%);
  --color-amber-A700: hsl(40, 100%, 50%);

  --color-yellow-50: hsl(55, 100%, 95%);
  --color-yellow-100: hsl(54, 100%, 88%);
  --color-yellow-200: hsl(54, 100%, 81%);
  --color-yellow-300: hsl(54, 100%, 73%);
  --color-yellow-400: hsl(54, 100%, 67%);
  --color-yellow-500: hsl(54, 100%, 62%);
  --color-yellow-600: hsl(49, 98%, 60%);
  --color-yellow-700: hsl(43, 96%, 58%);
  --color-yellow-800: hsl(37, 95%, 56%);
  --color-yellow-900: hsl(28, 92%, 53%);
  --color-yellow-A100: hsl(60, 100%, 78%);
  --color-yellow-A200: hsl(60, 100%, 50%);
  --color-yellow-A400: hsl(55, 100%, 50%);
  --color-yellow-A700: hsl(50, 100%, 50%);
}
