.form-template {
  display: grid;
  gap: var(--global-spacing);
  grid-template-columns: auto 1fr;
  border-radius: calc(var(--global-spacing));
  box-shadow: 0 15px 20px 0 rgb(0 0 0 / 15%);
  /* border: 1px solid; */
  padding: var(--global-spacing);
  align-items: center;
  background-color: white;
}

.form-template > :is(input, textarea) {
  field-sizing: content;
}

.form-template > button {
  grid-column: var(--span-entire-row);
  margin-top: var(--global-spacing);
  justify-content: center;
}

/* Redirecting link to login or register page */
.form-template > :is(a, aside):last-of-type {
  grid-column: var(--span-entire-row);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: var(--global-spacing);
}

/* FIXME: too specific in a global form css, move it elsewhere */
.form-template .array-property {
  grid-column: var(--span-entire-row);
  border-bottom: 1px solid var(--color-grey-400);
  color: var(--color-grey-400);
}
