:root {
  --font-family: Montserrat, Open Sans, Raleway, Roboto;
  --global-spacing: 20px;
  --span-entire-row: 1 / -1; /* applies only to grid-items */
}

*:disabled {
  cursor: not-allowed;
}
*:focus {
  outline: none;
}

/* Global classes */
a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}
a:hover {
  color: blue;
  text-decoration: underline;
}

button,
input,
select,
option,
textarea {
  font-family: var(--font-family);
  padding: 5px;
}

:is(button, select):hover:not(:disabled) {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

hr {
  margin-block: calc(var(--global-spacing) * 2);
}

.error {
  color: red;
}

.success {
  color: var(--color-green-500);
}

.spacer {
  flex: 1;
}

.stack {
  display: flex;
  flex-direction: column;
  /* align-items: center; */ /* this can impact children widths */
}

.center-vertically {
  align-items: center;
}

/* Global Layout */
body {
  font-family: var(--font-family);
  letter-spacing: 0.04rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  min-height: 100vh;
  margin: 0;
  display: flex;
}

/* Main app header */
body > header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: var(--global-spacing);
  border-bottom: 1px solid;
}
body > header > aside {
  display: flex;
  align-items: center;
}
body > header > aside > a ~ a,
body > header > aside > form ~ a {
  /* Separating margin between auth buttons */
  margin-left: var(--global-spacing);
}

/* Main Footer */
body > main > footer {
  grid-area: footer;
  text-align: center;
  padding: var(--global-spacing);
  margin-top: var(--global-spacing);
  margin-inline: calc(-1 * var(--global-spacing));
  width: calc(100% + 2 * var(--global-spacing));
  background-color: white;
  /* border-top: 1px solid; */
  box-shadow: 10px 0 5px -2px rgb(0 0 0 / 15%);
}

/* Navigation Menu */
body > aside {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid; */
  box-shadow: 10px 0 5px -2px rgb(0 0 0 / 15%);
}

body > aside > h2 > a {
  justify-content: center;
}
body > aside > :is(h2, section, nav) :is(a, button) {
  padding: calc(var(--global-spacing) / 2);
}
body > aside > :is(section, nav) > a:hover {
  background-color: var(--color-cyan-200);
  color: black;
  text-decoration: none;
}
body > aside > :is(section, nav) > a.active {
  background-color: var(--color-cyan-500);
}
/* Logout button-link */
body > nav > section button {
  border-radius: 0;
  justify-content: flex-start;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--global-spacing);
  padding-top: var(--global-spacing);
  position: relative; /* for landingPage's header */
  background-color: var(--color-blueGrey);
  height: 100vh;
  overflow-y: auto;
}
/* a <section className="current-page"/> can be used to scope inner styles */
main > section {
  width: 100%;
}
/* Page titles */
main > :is(h1, h2, section > h2) {
  margin-bottom: var(--global-spacing);
}
