/* Single column layout */
.responsive-stack {
  display: grid;
  gap: calc(var(--global-spacing) * 2);
  justify-content: center;
  align-items: center;

  & > .separator {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > .separator hr {
    flex: 1;
    background-color: black;
  }

  & > .separator span {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 100% 50%;
  }
}

.social-login-buttons {
  display: grid;
  justify-content: center;
  gap: var(--global-spacing);

  & > button {
    justify-content: unset;
  }
}

/* Redirection link to login or register page */
